<do-page-outlet
  [header]="'Select Box'">
  <div pagecontent>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
          <do-select
            [name]="'searchSelect'"
            [label]="'Search Select'"
            [required]="true"
            [api]="apiSelect"
            formControlName="searchSelect">
          </do-select>
          <do-select
            [name]="'staticSelect'"
            [label]="'Static Select'"
            [items]="dataStaticSelect"
            formControlName="staticSelect">
          </do-select>
          <do-select
            [name]="'skeletonSelect'"
            [label]="'Skeleton Select'"
            [skeleton]="true"
            formControlName="skeletonSelect">
          </do-select>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card bg-secondary">
          <div class="card-body">
            <pre>Value: <code>{{ formGroup.value | json }}</code></pre>
            <p>
              Status: {{ formGroup.status }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div pagefooter>
    <do-button-submit
      (onSubmit)="onSubmit()"
      [formGroupButton]="formGroup"
      [name]="'Submit'">
    </do-button-submit>
    <do-button-submit
      (onSubmit)="onReset()"
      [name]="'Reset'"
      [status]="'danger'"
      [type]="'reset'">
    </do-button-submit>
  </div>
</do-page-outlet>
