<do-page-outlet
  [header]="'Check Box'">
  <div pagecontent>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
          <do-checkbox
            [name]="'options'"
            [label]="'Options'"
            [data]="optionsData"
            formControlName="options">
          </do-checkbox>
          <do-checkbox
            [name]="'terms'"
            [data]="termsData"
            formControlName="terms">
          </do-checkbox>
          <do-checkbox
            [name]="'disabled'"
            [label]="'Disabled'"
            [data]="disabledData"
            (onChecked)="onChecked($event)"
            formControlName="disabled">
          </do-checkbox>
          <do-checkbox
            [name]="'skeletonCheckbox'"
            [label]="'Skeleton'"
            [skeleton]="true"
            formControlName="skeletonCheckbox">
          </do-checkbox>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card bg-secondary">
          <div class="card-body">
            <pre>Value: <code>{{ formGroup.value | json }}</code></pre>
            <p>
              Status: {{ formGroup.status }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div pagefooter>
  </div>
</do-page-outlet>
