<do-page-outlet
  [header]="'Datepicker'">
  <div pagecontent>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
          <do-datepicker
          [name]="'dateOfBirth'"
          [label]="'Date of Birth'"
          [placeholder]="'Date of Birth'"
          [required]="true"
          formControlName="dateOfBirth"></do-datepicker>
          <do-datepicker-range
          [name]="'timesheet'"
          [label]="'Timesheet'"
          [placeholder]="'Timesheet'"
          [required]="true"
          formControlName="timesheet"></do-datepicker-range>
          <do-datepicker
          [name]="'modifyDate'"
          [label]="'Modify Date'"
          formControlName="modifyDate"></do-datepicker>
          <do-datepicker
          [name]="'skeletonDatepicker'"
          [label]="'Skeleton Datepicker'"
          [skeleton]="true"
          formControlName="skeletonDatepicker"></do-datepicker>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card bg-secondary">
          <div class="card-body">
            <pre>Value: <code>{{ formGroup.value | json }}</code></pre>
            <p>
              Status: {{ formGroup.status }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div pagefooter>
    <do-button
      (onSubmit)="onSubmit()"
      [formGroupButton]="formGroup"
      [name]="'Submit'">
    </do-button>
    <do-button
      (onSubmit)="onReset()"
      [name]="'Reset'"
      [status]="'danger'"
      [type]="'reset'">
    </do-button>
  </div>
</do-page-outlet>
