<div class="row">
  <div class="col-md-12">
    <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
      <div [formGroupName]="formGroupName">
        <do-checkbox
          [name]="'skill'"
          [label]="'Skill'"
          [data]="skillData"
          [required]="true"
          formControlName="skill">
        </do-checkbox>
        <do-text-editor
          [name]="'others'"
          [label]="'Others'"
          formControlName="others">
        </do-text-editor>
      </div>
    </form>
  </div>
</div>
