<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
      <div [formGroupName]="formGroupName">
        <do-input-text
          [name]="'username'"
          [label]="'Username'"
          [placeholder]="'Username'"
          [required]="true"
          [pattern]="patternUsername"
          [paramError]="{value:5}"
          minlength="5"
          maxlength="20"
          formControlName="username">
        </do-input-text>
        <do-input-file
          [name]="'photo'"
          [label]="'Photo'"
          [placeholder]="'Photo'"
          formControlName="photo">
        </do-input-file>
        <do-input-currency
          [name]="'salary'"
          [label]="'Salary'"
          [placeholder]="'Salary'"
          [required]="true"
          formControlName="salary">
        </do-input-currency>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card bg-secondary">
      <div class="card-body">
        <pre>Value: <code>{{ formGroup.value | json }}</code></pre>
        <p>
          Status: {{ formGroup.status }}
        </p>
      </div>
    </div>
  </div>
</div>
