<do-page-outlet
  [header]="'Input Currency'">
  <div pagecontent>
    <div class="row">
      <div class="col-md-6">
        <form class="form-horizontal" autocomplete="on" [formGroup]="formGroup">
          <do-input-currency
            [name]="'salary'"
            [label]="'Salary'"
            [placeholder]="'Salary'"
            [required]="true"
            formControlName="salary">
          </do-input-currency>
          <do-input-currency
            [name]="'tax'"
            [label]="'Tax'"
            [placeholder]="'Tax'"
            formControlName="tax">
          </do-input-currency>
          <do-input-currency
            [name]="'insurance'"
            [label]="'Insurance'"
            [placeholder]="'Insurance'"
            formControlName="insurance">
          </do-input-currency>
          <do-input-currency
            [name]="'skeletonCurrency'"
            [label]="'Skeleton Currency'"
            [placeholder]="'Skeleton Currency'"
            [skeleton]="true"
            formControlName="skeletonCurrency">
          </do-input-currency>
        </form>
      </div>
      <div class="col-md-6">
        <div class="card bg-secondary">
          <div class="card-body">
            <pre>Value: <code>{{ formGroup.value | json }}</code></pre>
            <p>
              Status: {{ formGroup.status }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div pagefooter>
  </div>
</do-page-outlet>
